#menu {
    top: 35%;
    left: -10%;
    overflow: hidden;
    position: fixed;
    transform: rotate(-90deg);
}
#menu li{
    display: inline;
    margin-right: 5px;
}
#menu a {
    float: left;
    padding: 15px 15px;
    text-decoration: none;
    z-index: 99999;
    color: #868282;!important;
    opacity: 1!important;
    font-size: 18px;
}
#menu a:hover{
    color: #393B3B;
    border-bottom: 2px solid rgba(57,59,59, 0.6);
    padding-bottom: 3px;
}